<strong># app/views/layouts/mon_layout_pdf.html.erb</strong>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>hhello tesst</h1>
<p>uuun paraaaph</p>
<p>uuun paraaaph</p>
<p>uuun paraaaph</p>
<p>uuun paraaaph</p>
contract.hiring_date
<p<%= @contract.hiring_date %></p>
  </body>
</html>
